/* CSS */

#wrapper {
    margin: 1em auto;
     width: 960px;
     border: 5px solid blue;
     background-color: blue;
     display:grid;
     grid-template-columns: repeat(12,1fr)
   }

#one {
    background-color: lightblue;
    grid-column: span 4;
    padding: 20px;
}

#two {
    background-color: white;
    grid-column: span 8;
    padding: 20px;
}

header {
    grid-column:span 12;
    background-image: linear-gradient(#2C7DDB, #1C50A9);
    color: lightblue;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  

nav {
    grid-column: span 12;
  }
  
nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
  }
  
nav li {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block
  }
  
nav li a {
    display: block;
    background-image: linear-gradient(#2C7DDB, #1C50A9);
    padding: 1em;
    color: lightblue;
    text-decoration: none;
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

nav li a:hover {
    background-color: rgb(101, 158, 249);
    color:#ff0000;
}

a {
    color:red;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: pink;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightblue;
    font-weight: normal;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1C58A6;
    border-bottom: 3px solid #1C58A6;
}

#two img {
    width: 400px;
    float:left;
    border: #1C58A6 solid 5px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

.w1 {
    font-weight: bold;
    padding: 5px;
    text-align: justify;
}

footer {
    text-align: left;
    font-style: italic;
    grid-column: span 12;
    background-color: #ff0000;
    color: white;
    border-top: 5px solid black;
  }
  